{% extends 'base.html' %} {% load bootstrap_tags %} {% block page_title %} Reset Password Confirm {% endblock %} {% block content %}
<section class="content-container">
    <section class="reset-password-section">
        <div class="reset-password-container">
            <div class="container-fluid">
                <div class="row py-5 d-flex justify-content-center">
                    <div class="col-lg-6 col-md-8 col-sm-10 my-5">

                        {% if validlink %}
                        <form id="set-new-password-form" method="post" class="mx-auto px-4 px-md-5 py-5">
                            <h1 class="text-center">{{title}}</h1>
                            <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-sm-12 d-flex justify-content-start">
                                    {{ form.new_password1.errors }}
                                    <label for="id_new_password1">New Password</label>
                                </div>
                                <div id="field-password1" class="col-sm-12 d-flex justify-content-start">
                                    {{ form.new_password1 }}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12 d-flex justify-content-start">
                                    {{ form.new_password2.errors }}
                                    <label for="id_new_password1">Confirm Password</label>
                                </div>
                                <div id="field-password2" class="col-sm-12 d-flex justify-content-start">
                                    {{ form.new_password2 }}
                                </div>
                            </div>

                            <div class="row pt-3">
                                <div class="col-sm-12 d-flex justify-content-center">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </form>

                        {% else %}
                        <div class="row py-3 px-2 mx-2 d-flex justify-content-center bgr-off-white text-center">
                            <h2 class="mb-3">Invalid Reset Link</h2>
                            <div class="col-sm-12">
                                <p>The password reset link was invalid, possibly because it has already been used.</br>Please request a new password reset.</p>
                                <p><a class="text-decoration-none" href="{% url 'password_reset' %}">Reset Password</a></p>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
{% endblock %}
