{% autoescape off %}
Hello {{ user.get_username }},

You are receiving this email because you requested a password reset for your user account at {{ protocol }}://{{ domain }}{% url 'index' %}

To initiate the password reset process please click the link below:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

If clicking the link above doesn't work, please copy and paste the URL in a new browser window instead.

Your username, in case you've forgotten: {{ user.username }}

Sincerely,
{{ protocol }}://{{ domain }}{% url 'index' %} Team
{% endautoescape %}
