{% extends 'base.html' %} {% block page_title %} Reset Password Done {% endblock %} {% block content %}

<section class="content-container">
    <section class="reset-password-section full-height">
        <div class="reset-password-container full-height">
            <div class="container-fluid full-height">
                <div class="row py-5 d-flex justify-content-center align-items-center text-center full-height">
                    <div class="col-lg-6 col-md-8 col-sm-10 mx-2 py-5 bgr-off-white">
                        <h1 class="mb-3">{{ title }}</h1>
                        <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
                        <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

{% endblock %}
