body {
  min-height: 100vh;
  position: relative;
  margin: 0;
  padding-bottom: 100px; /*height of the footer*/
}

form {
    width: 50%;
}

/* Set max size of profile images */
.profile-image {
    max-width: 200px;
    max-height: 200px;
}

/* Set sticky footer at the bottom of a page */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
}

/* Increse size of add ticket to make it more prominent */
.btn-lg {
    font-size: 4rem;
}

/* Remove top border for the first row in the table */
.table tr:first-child td {
  border-top: none;
}

/* Set width for the form contained within a modal */
#user-form {
  width: 100%;
}

@media only screen and (max-width: 600px) {
  form {
    width: 80%;
}
}