form {
    width: 50%;
}

/* Set height to 100vh to get a full height tab on the left side of a page */
.aside {
    height: 100vh;
}

/* Set max size of profile images */
.profile-image {
    max-width: 300px;
    max-height: 300px;
}
