{% extends 'base.html' %} {% block page_title %} View ticket {% endblock %} {% block content %}

<!-- Page content container (BEGINNING) -->
<section class="content-container">
    
    <div class="row">
        
        <!-- Ticket summary info (aside on large screens) and update & delete ticket buttons container (BEGINNING) -->
        <div class="col-md-4 col-sm-12">
            
            <div class="row">
                <div class="col-sm-12">Ticket details</div>
            </div>
            
            <div class="row">
                <div class="col-sm-12">Ticket update buttons</div>
            </div>
            
        </div>
        <!-- Ticket summary info (aside on large screens) and update & delete ticket buttons container (END) -->
        
        <!-- Ticket description and upvote button container (BEGINNING) -->
        <div class="col-md-8 col-sm-12">
            Ticket description
        </div>
        <!-- Ticket description and upvote button container (END) -->
        
    </div>
    
    <div class="row">
        
        <!-- Leave a comment form container (BEGINNING) -->
        <div class="col-md-8 offset-md-4 col-sm-12">
            Leave a comment
            
        </div>
        <!-- Leave a comment form container (END) -->
        
    </div>
    
     <div class="row">
        
        <!-- Comment counter container (BEGINNING) -->
        <div class="col-md-8 offset-md-4 col-sm-12">
            
            Counter
        </div>
        <!-- Comment counter form container (END) -->
        
    </div>
    
    <div class="row">
        
        <!-- Comments cards container (BEGINNING) -->
        <div class="col-md-8 offset-md-4 col-sm-12">
            Cards
            
        </div>
        <!-- Comments cards container (END) -->
        
    </div>
    
</section>
<!-- Page content container (END) -->
{% endblock %}