{% extends 'base.html' %} {% load static from staticfiles %} {% load bootstrap_tags %} {% block page_title %} View ticket {% endblock %} {% block content %}

<!-- Page content container (BEGINNING) -->
<section class="content-container pt-4 px-5">

    <section id="ticket-section">
        <div class="row">

            <!-- Ticket summary info (aside on large screens) and update & delete ticket buttons container (BEGINNING) -->
            <div class="col-md-4 col-sm-12">

                <!-- Ticket details (BEGINNING) -->
                <h3>Ticket #{{ ticket.id }}</h3>
                <div class="row">
                    <div class="col-sm-12">
                        <span>Type: {{ ticket.ticket_type }}</span>
                    </div>
                    <div class="col-sm-12">
                        <span>Author: {{ ticket.user }}</span>
                    </div>
                    <div class="col-sm-12">
                        <span>Created: {{ ticket.date_created }}</span>
                    </div>
                </div>
                <!-- Ticket details (END) -->

                <!-- Ticket summary info and page activity (BEGINNING) -->
                <div class="row">
                    <div class="col-sm-12">
                        <ol id="ticket-summary-list">
                            <li><i class="fa fa-map-marker" aria-hidden="true"></i> <span>In: <a class="text-decoration-none" href="{% url 'view_ticket' ticket.id %}">{{ ticket.subject }}</a></span></li>
                            <li><i class="fa fa-users" aria-hidden="true"></i> <span>{{ user_commented_count }} {% if user_commented_count == 1 %} participant {% else %} participants {% endif %}</span></li>
                            <li><i class="fa fa-comments" aria-hidden="true"></i> <span>{{ comment_count }} {% if comment_count == 1 %} comment {% else %} comments {% endif %}</span></li>
                            <li><i class="fa fa-user" aria-hidden="true"></i> <span>Last commented by: {{ last_comment.user }}</span></li>
                            <li><i class="fa fa-clock-o" aria-hidden="true"></i> <span>Last activity: {{ last_comment.date_updated }}</span></li>
                            {% if ticket.ticket_type == "Feature" %}
                            <li><i class="fa fa-money" aria-hidden="true"></i> <span>Total donations: &euro;{{ total_donations }}</span></li>
                            {% else %}{% endif %}
                        </ol>
                    </div>
                </div>
                <!-- Ticket summary info and page activity (END) -->

                <!-- Ticket edit and delete buttons - showing only on small devices (BEGINNING) -->
                {% if request.user == ticket.user %}
                <div class="row d-block d-sm-none">
                    <div class="col-sm-12 d-flex justify-content-center"><button class="btn btn-primary"><i class="fa fa-pencil" aria-hidden="true"></i><a class="text-reset text-decoration-none" href="{% url 'edit_ticket' ticket.id %}"> Edit</a></button></div>
                    <div class="col-sm-12 d-flex justify-content-center"><a class="text-danger" type="button" data-toggle="modal" data-target="#deleteModal{{ticket.id}}">Delete</a></div>
                </div>
                {% endif %}
                <!-- Ticket edit and delete buttons  - showing only on small devices (END) -->

                <!-- Delete Ticket Modal -->
                <div class="modal fade" id="deleteModal{{ticket.id}}" tabindex="-1" role="dialog" aria-labelledby="deleteTicketModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteTicketModalLabel">Confirmation</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure you want to delete your ticket (#{{ ticket.id }})?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger"><a class="text-reset text-decoration-none" href="{% url 'delete_ticket' ticket.id %}">Delete</a></button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Delete Ticket Modal -->

            </div>
            <!-- Ticket summary info (aside on large screens) and update & delete ticket buttons container (END) -->

            <!-- Ticket description and upvote button container (BEGINNING) -->
            <div class="col-md-8 col-sm-12">

                <!-- Ticket card (BEGINNING) -->
                <div class="row pt-5 pb-3">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header bg-transparent border-bottom-0">
                                <h4 class="card-title">{{ ticket.subject }}</h4>
                                <div class="row">
                                    <div class="col-lg-1 col-md-2 d-none d-sm-block pr-0 text-right">{% if user.userprofile.image %}
                                        <img class="img-thumbnail rounded-circle card-image" src="{{ ticket.user.user.userprofile.image.url }}" alt="Comment card image"> {% else %}
                                        <img class="img-thumbnail rounded-circle card-image" src="/media/profile_image/default.png" alt="Comment card image"> {% endif %}
                                    </div>
                                    <div class="col-lg-8 col-md-7 col-sm-12">
                                        <h5 class="card-subtitle mb-2">{{ ticket.user }}</h5>
                                        <h6 data-toggle="tooltip" data-placement="left" title="Last updated" class="card-subtitle mb-2 text-muted"><small>{{ ticket.date_updated }}</small></h6>
                                    </div>
                                </div>

                            </div>
                            <div class="card-body">
                                <p class="card-text">{{ ticket.description }}</p>
                            </div>
                            <div class="card-footer bg-transparent text-right"><i class="fa fa-arrow-up fa-lg" aria-hidden="true"></i>{{ upvote_count }}</div>
                        </div>
                    </div>
                </div>
                <!-- Ticket card (END) -->

                <!-- Upvoting section - show if ticket is still open and if the ticket doesn't belong to authenticated user (BEGINNING) -->
                {% if user.is_authenticated and user != ticket.user and ticket.ticket_status != "Closed" and ticket.ticket_status != "Completed" %} {% if has_voted is None %} {% if ticket.ticket_type == "Feature"%}

                <!-- If user didn't upvote display the upvote & donate button (BEGINNING) -->
                {% if has_donated is None %}
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <span>Would you like to support development of this feature? </br> Click the 'Upvote' button and donate a minimum of $5.</span>
                    </div>
                    <div class="col-sm-12 pt-3 text-center">
                        <button class="btn btn-success" data-toggle="modal" data-target="#upvoteModal"><i class="fa fa-arrow-up" aria-hidden="true"></i> Upvote</button>
                    </div>
                </div>
                <!-- If user didnt upvote display the upvote & donate button (END) -->

                <!-- If user already voted and donated and then removed their upvote - user can add their upvote again however won't be allowed to donate again (BEGINNING) -->
                {% else %}
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <span>Would you like to support development of this feature? </br> Click the 'Upvote' button below.</span>
                    </div>
                    <div class="col-sm-12 pt-3 text-center">
                        <button type="button" class="btn btn-success"><a href="{% url 'upvote' ticket.id %}" class="text-reset text-decoration-none"><i class="fa fa-arrow-up" aria-hidden="true"></i> Upvote</a></button>
                    </div>
                </div>
                {% endif %}
                <!-- If user already voted and donated and then removed their upvote - User can add their upvote again however won't be allowed to donate again (END) -->

                <!-- Upvoting Bugs does not include donation (BEGINNING) -->
                {% else %}
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <span>Are you experiencing the same issue? </br> Click the 'Upvote' button to prioritize this bug and we will fix it for free.</span>
                    </div>
                    <div class="col-sm-12 pt-3 text-center">
                        <button type="button" class="btn btn-success"><a href="{% url 'upvote' ticket.id %}" class="text-reset text-decoration-none"><i class="fa fa-arrow-up" aria-hidden="true"></i> Upvote</a></button>
                    </div>
                </div>
                {% endif %}
                <!-- Upvoting Bugs does not include donation (END) -->

                <!-- If user already upvoted and wants to remove their vote show downvote button (BEGINNING) -->
                {% else %}
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <span>You no longer want to support of this ticket</br> Click the 'Downvote' button to remove your vote.</span>
                    </div>
                    <div class="col-sm-12 pt-3 text-center">
                        <button class="btn btn-success"><a href="{% url 'downvote' ticket.id %}" class="text-reset text-decoration-none"><i class="fa fa-arrow-down" aria-hidden="true"></i> Downvote</a></button>
                    </div>
                </div>
                {% endif %}
                <!-- If user already upvoted and wants to remove their vote show downvote button (END) -->

                {% endif %}
                <!-- Upvoting section - show if ticket is still open and if the ticket doesn't belong to authenticated user (END) -->

                <!-- Upvote Ticket Modal (BEGINNING) -->
                <div class="modal fade" id="upvoteModal" tabindex="-1" role="dialog" aria-labelledby="upvoteTicketModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="upvoteTicketModalLabel">Your donation supports new feature development</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>
                            <div class="modal-body">
                                <form role="form" action="{% url 'upvote' ticket.pk %}" id="payment-form" method="POST" class="mx-auto">
                                    <p>Pledge your support today so that we can prioritize your favourite features.</p>
                                    {% csrf_token %}

                                    <div id="credit-card-errors" style="display: none;">
                                        <div class="alert-message block-message error" id="stripe-error-message"></div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        {{ donation_form | as_bootstrap }}
                                    </div>

                                    <div class="form-group col-sm-12">
                                        {{ payment_form | as_bootstrap }}
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <button type="submit" class="btn btn-success" id="submit_payment_btn" type="submit" value="Submit Payment"><a class="text-reset text-decoration-none">Donate</a></button>
                                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Upvote Ticket Modal (END) -->

            </div>
            <!-- Ticket description and upvote button container (END) -->

        </div>
    </section>

    <!-- Comments section (BEGINNING) -->
    <section id="comments-section">

        <!-- Comment counter container (BEGINNING) -->
        <div class="row pt-5 pb-3">
            <div class="col-md-8 offset-md-4 col-sm-12">
                <h5><i class="fa fa-comments fa-lg" aria-hidden="true"></i> Comments (<span id="counter">{{ comment_count }}</span>)</h5>
                <h6>Start a discussion. Share your thoughts.</h6>
                <hr>
            </div>
        </div>
        <!-- Comment counter form container (END) -->

        <!-- Leave a comment form container (BEGINNING) -->
        <div class="row">
            <div class="form-group col-md-8 offset-md-4 col-sm-12 d-flex justify-content-center">
                <form action="{% url 'add_comment' ticket.pk %}" method="POST" class="comment-form" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="form-group col-sm-12 mb-0">
                            {{ comment_form | as_bootstrap }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 d-flex justify-content-end">
                            <button type="submit" name="action" class="btn btn-outline-success">Post comment</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
        <!-- Leave a comment form container (END) -->

        <!-- Ticket edit and delete buttons - hidden only on small devices (BEGINNING) -->
        <div class="row align-items-end">
            <div class="col-md-4 d-none d-sm-block">
                {% if request.user == ticket.user %}
                <div class="row">
                    <div class="col-sm-12 d-flex justify-content-center"><button class="btn btn-primary"><i class="fa fa-pencil" aria-hidden="true"></i><a class="text-reset text-decoration-none" href="{% url 'edit_ticket' ticket.id %}"> Edit</a></button></div>
                    <div class="col-sm-12 d-flex justify-content-center"><a class="text-danger" type="button" data-toggle="modal" data-target="#deleteModal{{ticket.id}}">Delete</a></div>
                </div>
                {% endif %}
            </div>
            <!-- Ticket edit and delete buttons - hidden only on small devices (END) -->

            <!-- Comments cards container (BEGINNING) -->
            <div class="col-md-8 col-sm-12" id="comments-container">
                {% for comment in comments %}
                <div class="row py-3">
                    <div class="col-sm-12">
                        <div class="card">

                            <!-- Posted comment card header (BEGINNING) -->
                            <div class="card-header bg-transparent">
                                
                                <!--Card header content (BEGINNING) -->
                                <div class="row">
                                    <div class="col-lg-1 col-md-2 d-none d-sm-block pr-0 text-right">{% if user.userprofile.image %}
                                        <img class="img-thumbnail rounded-circle card-image" src="{{ comment.user.user.userprofile.image.url }}" alt="Comment card image"> {% else %}
                                        <img class="img-thumbnail rounded-circle card-image" src="/media/profile_image/default.png" alt="Comment card image"> {% endif %}
                                    </div>

                                    <!-- Layout of edit / delete buttons only on small devices (BEGINNING) -->
                                    <div class="col-sm-12 d-block d-sm-none">
                                        <div class="card-block text-right">
                                            <span class="pr-3"><a class="edit-comment-btn" type="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-pencil-square-o text-primary fa-lg" aria-hidden="true"></i></a></span>
                                            <span data-toggle="modal" data-target="#deleteCommentModal{{comment.id}}"><a type="button" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash text-danger fa-lg" aria-hidden="true"></i></a></span>
                                        </div>
                                    </div>
                                    <!-- Layout of edit / delete buttons only on small devices (END) -->

                                    <div class="col-lg-8 col-md-7 col-sm-12">
                                        <h5 class="card-title">{{ comment.user }}</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">{{ comment.date_updated }}</h6>
                                    </div>

                                    <!-- Layout of edit / delete buttons only on medium and large devices (BEGINNING) -->
                                    <div class="col-md-3 d-none d-sm-block">
                                        <div class="card-block text-right">
                                            <span class="pr-3"><a class="edit-comment-btn" type="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-pencil-square-o text-primary fa-lg" aria-hidden="true"></i></a></span>
                                            <span class="pr-3" data-toggle="modal" data-target="#deleteCommentModal{{comment.id}}"><a type="button" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash text-danger fa-lg" aria-hidden="true"></i></a></span>
                                        </div>
                                    </div>
                                    <!-- Layout of edit / delete buttons only on medium and large devices (END) -->
                                    
                                </div>
                                <!--Card header content (END) -->

                                <!-- Delete Comment Modal -->
                                <div class="modal fade" id="deleteCommentModal{{comment.id}}" tabindex="-1" role="dialog" aria-labelledby="deleteCommentModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="deleteCommentModalLabel">Confirmation</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Are you sure you want to delete your comment (#{{ comment.id }})?</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger"><a class="text-reset text-decoration-none" href="{% url 'delete_comment' ticket.id comment.id %}">Delete</a></button>
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Delete Comment Modal -->

                            </div>
                            <!-- Posted comment card header (END) -->
                            
                            <!-- Posted comment - displayed until edit button clicked, then replaced by edit comment form (BEGINNING) -->
                            <div class="card-body posted-comment">
                                <p class="card-text text-truncate comment-text">{{ comment.comment }}</p>
                                <p class="card-text text-right read-more"><small class="text-primary"><a type="button">Read more</a></small></p>
                                <p class="card-text text-right read-less"><small class="text-primary"><a type="button">Read less</a></small></p>
                            </div>
                            <!-- Posted comment - displayed until edit button clicked, then replaced by edit comment form (END) -->

                            <!-- Edit comment form - displayed only when edit button clicked (BEGINNING) -->
                            <div class="card-body edit-comment">

                                <div class="row">
                                    <div class="form-group col-sm-12 d-flex justify-content-center">
                                        <form action="{% url 'edit_comment' ticket.pk comment.pk %}" method="POST" class="comment-form" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <div class="row">
                                                <div class="form-group col-sm-12 mb-0">
                                                    <textarea rows="3" name="comment">{{ comment.comment }}</textarea>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12 d-flex justify-content-end">
                                                    <button type="submit" name="action" class="btn btn-outline-success mr-3">Save edits</button>
                                                    <button type="button" class="btn btn-outline-secondary cancel-edit">Cancel</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- Edit comment form container  - displayed only when edit button clicked (END) -->
                            
                        </div>
                    </div>
                </div>

                <!-- If no comments for the review display paragraph with information about it (BEGINNING) -->
                {% empty %}
                <p>No comments yet. Be the first to comment.</p>
                <!-- If no comments for the review display paragraph with information about it (END) -->

                {% endfor %}
            </div>
            <!-- Comments cards container (END) -->

        </div>
    </section>
    <!-- Comments section (END) -->

</section>
<!-- Page content container (END) -->

{% endblock %} {% block js %}
<!-- Stripe API js tag -->
<script src="https://js.stripe.com/v2/"></script>

<!-- Stripe publishable key -->
<script>
    //<![CDATA[
    Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>

<!-- Stripe custome js -->
<script src="{% static 'js/stripe.js' %}"></script>
{% endblock js %}
