{% extends 'base.html' %} {% load bootstrap_tags %} {% block page_title %}Delete Account{% endblock %} {% block content %}

<!-- Page content container (BEGINNING) -->
<section class="content-container">

    <!-- Form container (BEGINNING) -->
    <div class="row">
        <div class="col-sm-12">

            <!-- Delete user account form (BEGINNING) -->
            <form method="POST" class="mx-auto">
                {% csrf_token %}

                <!-- "Are you sure?" message (BEGINNING) -->
                <fieldset class="form-group">

                    <legend class="border-bottom mb-4">Delete User Account</legend>
                    <p>Are you sure you want to delete your account? </br>This will permanently delete your profile and any content you have generated.</p>
                    {{ form }}

                </fieldset>
                <!-- "Are you sure?" message (END) -->

                <!-- Confirm delete and cancel button container (BEGINNING) -->
                <div class="form-group">

                    <button class="btn btn-danger" type="submit">Delete Account</button>
                    <a class="btn btn-primary-custom" style="float:right;" href="{% url 'profile' %}">Cancel</a>

                </div>
                <!-- Confirm delete and cancel button container (END) -->

            </form>
            <!-- Delete user account form (END) -->

        </div>
    </div>
    
</section>
<!-- Page content container (END) -->

{% endblock %}
