{% extends 'base.html' %} {% load bootstrap_tags %} {% block page_title %}Login Page{% endblock %} {% block content %}

<!-- Page content container (BEGINNING) -->
<section class="content-container">
    <section id="login-section" class="full-height">
        <div class="container-fluid full-height">
            <div class="row d-flex justify-content-center full-height">
                <div class="col-lg-6 col-md-8 col-sm-10 d-flex align-items-center">

                    <!-- Sign in form (BEGINNING) -->
                    <form method="POST" class="mx-auto px-4 px-md-5 py-5 my-5">

                        <!-- Form heading (BEGINNING) -->
                        <h2 class="text-center mb-5">Sign in to the Unicorn Attracktor Tracker</h2>
                        <!-- Form heading (END) -->

                        {% csrf_token %} {{ login_form | as_bootstrap }}

                        <!-- Login button (BEGINNING) -->
                        <div class="row mt-5">
                            <div class="col-sm-12 text-center">
                                <button type="submit" class="btn btn-outline-primary">Sign In</button>
                            </div>
                        </div>
                        <!-- Login button (END) -->

                        <!-- Reset password button (BEGINNING) -->
                        <div class="row mt-3">
                            <div class="col-sm-12 text-center">
                                <p><a class="text-decoration-none" href="{% url 'password_reset' %}">Forgot password?</a></p>
                            </div>
                        </div>
                        <!-- Reset password button (END) -->

                        <!-- Go to registration form button (BEGINNING) -->
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <span>Not a member? <a class="text-decoration-none" href="{% url 'registration' %}">Sign Up.</a></span>
                            </div>
                        </div>
                        <!-- Go to registration form button (END) -->

                    </form>
                    <!-- Sign in form (END) -->

                </div>
            </div>
        </div>
    </section>
</section>
<!-- Page content container (END) -->

{% endblock %}
