{% extends 'base.html' %} {% load bootstrap_tags %} {% block page_title %}Login Page{% endblock %} {% block content %}

<!-- Page content container (BEGINNING) -->
<section class="content-container">

    <div class="row">
        <div class="col-sm-12">

            <!-- Sign in form (BEGINNING) -->
            <form method="POST" class="mx-auto">

                <!-- Form heading (BEGINNING) -->
                <h2 class="text-center">Sign in to the UnicornAttracktor Issue Tracker</h2>
                <!-- Form heading (END) -->

                {% csrf_token %} {{ login_form | as_bootstrap }}

                <!-- Login button (BEGINNING) -->
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <button type="submit" class="btn btn-outline-primary">Sign In</button>
                    </div>
                </div>
                <!-- Login button (END) -->

            </form>
            <!-- Sign in form (END) -->

            <!-- Reset password button (BEGINNING) -->
            <div class="row">
                <div class="col-sm-12 text-center">
                    <p><a class="text-decoration-none" href="{% url 'password_reset' %}">Forgot password?</a></p>
                </div>
            </div>
            <!-- Reset password button (END) -->

            <!-- Go to registration form button (BEGINNING) -->
            <div class="row">
                <div class="col-sm-12 text-center">
                    <span>Not a member? <a class="text-decoration-none" href="{% url 'registration' %}">Sign Up</a></span>
                </div>
            </div>
            <!-- Go to registration form button (END) -->

        </div>
    </div>

</section>
<!-- Page content container (END) -->

{% endblock %}
