{% extends 'base.html' %} {% load bootstrap_tags %} {% block page_title %}Registration Page{% endblock %} {% block content %}

<!-- Page content container (BEGINNING) -->
<section class="content-container">
        <section id="register-section" class="full-height">
                <div class="container-fluid full-height">
                        <div class="row d-flex justify-content-center full-height">
                                <div class="col-lg-6 col-md-8 col-sm-10 d-flex align-items-center">

                                        <!-- Registration form (BEGINNING) -->
                                        <form method="post" class="mx-auto px-4 px-md-5 py-5 my-5">

                                                <!-- Form heading and sub-heading (BEGINNING) -->
                                                <h2 class="text-center">Sign up for the Unicorn Attracktor Tracker</h2>
                                                <h5 class="text-center mb-5">Sign up to report bugs, request features, support unicornAttracktor app development, and join our community.</h5>
                                                <!-- Form heading and sub-heading (END) -->

                                                {% csrf_token %} {{ registration_form | as_bootstrap }}

                                                <!-- Sign Up button (BEGINNING) -->
                                                <div class="row mt-5">
                                                        <div class="col-sm-12 text-center">
                                                                <button type="submit" class="btn btn-outline-primary">Sign Up</button>
                                                        </div>
                                                </div>
                                                <!-- Sign Up button (END) -->

                                                <!-- Reference to sign in form (BEGINNING) -->
                                                <div class="row">
                                                        <div class="col-sm-12 text-center pt-3">
                                                                <p>Already a member? <a class="text-decoration-none" href="{% url 'login' %}">Sign in.</a></p>
                                                        </div>
                                                </div>
                                                <!-- Reference to sign in form (END) -->

                                        </form>
                                        <!-- Registration form (END) -->
                                </div>
                        </div>
                </div>
        </section>
</section>
<!-- Page content container (END) -->

{% endblock %}
