{% extends 'base.html' %} {% load static from staticfiles %} {% load bootstrap_tags %} {% block page_title %} Search results {% endblock %} {% block content %}
<!-- Page content container (BEGINNING) -->
<section class="content-container">

    <!-- Page heading (BEGINNING) -->
    <section id="search-heading-section">
        <div id="search-heading-container" class="container-fluid d-flex align-items-center justify-content-center">
            <h1 class="text-dark text-center mb-0 py-5">Search results</h1>
        </div>
    </section>
    <!-- Page heading (END) -->

    <!-- Page content container (BEGINNING) -->
    <section id="search-result-section">
        <div class="container-fluid py-5 bgr-off-white">
            <div class="row d-flex justify-content-center">
                <div class="col-md-10 col-sm-12">

                    <!-- Pills navigation buttons (BEGINNING) -->
                    <ul class="nav nav-pills mb-3 flex-column flex-sm-row" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active flex-sm-fill text-sm-center" id="pills-tickets-tab" data-toggle="pill" href="#pills-tickets" role="tab" aria-controls="pills-tickets" aria-selected="true">Tickets ({{ ticket_count }})</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link flex-sm-fill text-sm-center" id="pills-comments-tab" data-toggle="pill" href="#pills-comments" role="tab" aria-controls="pills-comments" aria-selected="false">Ticket comments ({{ comment_count }})</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link flex-sm-fill text-sm-center" id="pills-threads-tab" data-toggle="pill" href="#pills-threads" role="tab" aria-controls="pills-threads" aria-selected="false">Forum threads ({{ thread_count }})</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link flex-sm-fill text-sm-center" id="pills-posts-tab" data-toggle="pill" href="#pills-posts" role="tab" aria-controls="pills-posts" aria-selected="false">Forum posts ({{ post_count }})</a>
                        </li>
                    </ul>
                    <!-- Pills navigation buttons (END) -->

                    <!-- Pills content (BEGINNING)-->
                    <div class="tab-content" id="pills-tabContent">

                        <!-- Pill containing search results tickets table (BEGINNING) -->
                        <div class="tab-pane fade show active" id="pills-tickets" role="tabpanel" aria-labelledby="pills-tickets-tab">

                            <!-- Search results tickets table (BEGINNING) -->
                            <div class="row">
                                <div class="col-sm-12 table-responsive">
                                    <table class="table">
                                        <tbody class="tickets-table">
                                            {% if ticket_count > 0 %} {% for ticket in search_results_ticket %}
                                            <tr>
                                                <td class="text-left">
                                                    {% if ticket.ticket_status == "Open" %}
                                                    <i data-toggle="tooltip" data-placement="top" title="Open" class="fa fa-hourglass-o" aria-hidden="true"></i> {% elif ticket.ticket_status == "In Progress" %}
                                                    <i data-toggle="tooltip" data-placement="top" title="In Progress" class="fa fa-hourglass-end" aria-hidden="true"></i> {% elif ticket.ticket_status == "Completed" %}
                                                    <i data-toggle="tooltip" data-placement="top" title="Completed" class="fa fa-hourglass" aria-hidden="true"></i> {% elif ticket.ticket_status == "Closed" %}
                                                    <i data-toggle="tooltip" data-placement="top" title="Closed" class="fa fa-close" aria-hidden="true"></i> {% endif %}
                                                </td>
                                                <td class="text-center"><a class="text-decoration-none" href="{% url 'view_ticket' ticket.id %}">Ticket #{{ ticket.id }}: {{ ticket.subject }}</a></td>
                                                <td class="text-center d-none d-md-table-cell">{{ ticket.ticket_type }}</td>
                                                <td class="text-right">{{ ticket.date_created | timesince }}</td>
                                            </tr>

                                            {% endfor %} {% else %} No tickets found for this query. {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- Search results tickets table (END) -->

                            <!-- Search results  tickets pagination buttons (BEGINNING)-->
                            <div class="col-sm-12 d-flex justify-content-center">
                                {% if search_results_ticket.has_other_pages %}
                                <nav aria-label="Table navigation">
                                    <ul class="pagination">
                                        {% if search_results_ticket.has_previous %}
                                        <li class="page-item"><a class="page-link" href="?page={{ search_results_ticket.previous_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">&laquo;</a></li>
                                        {% else %}
                                        <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
                                        {% endif %} {% for i in search_results_ticket.paginator.page_range %} {% if search_results_ticket.number == i %}
                                        <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span>
                                        </li>
                                        {% else %}
                                        <li class="page-item"><a class="page-link" href="?page={{ i }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">{{ i }}</a></li>
                                        {% endif %} {% endfor %} {% if search_results_ticket.has_next %}
                                        <li class="page-item"><a class="page-link" href="?page={{ search_results_ticket.next_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">&raquo;</a></li>
                                        {% else %}
                                        <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
                                        {% endif %}
                                    </ul>
                                </nav>
                                {% endif %}
                            </div>
                            <!-- Search results  tickets pagination buttons (END)-->

                        </div>
                        <!-- Pill containing search results tickets table (END) -->

                        <!-- Pill containing search results comments table (BEGINNING) -->
                        <div class="tab-pane fade" id="pills-comments" role="tabpanel" aria-labelledby="pills-comments-tab">

                            <!-- Search results comments table (BEGINNING) -->
                            <div class="row">
                                <div class="col-sm-12 table-responsive">
                                    <table class="table">
                                        <tbody class="comments-table">
                                            {% if comment_count > 0 %} {% for comment in search_results_comment %}
                                            <tr>
                                                <td class="text-left"><a class="text-decoration-none" href="{% url 'view_ticket' comment.ticket.id %}#comment{{comment.id}}">Comment #{{ comment.id }}</a></td>
                                                <td class="text-center"><span>Re: ticket #{{ comment.ticket.id }}</span><span class="d-none d-md-inline">: {{ comment.ticket.subject }}</span></td>
                                                <td class="text-right"> {{ comment.date_created | timesince }} ago</td>
                                            </tr>
                                            {% endfor %} {% else %} No comments found for this query. {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- Search results tickets table (END) -->

                            <!-- Search results comments pagination buttons (BEGINNING)-->
                            <div class="col-sm-12 d-flex justify-content-center">
                                {% if search_results_comment.has_other_pages %}
                                <nav aria-label="Table navigation">
                                    <ul class="pagination">
                                        {% if search_results_comment.has_previous %}
                                        <li class="page-item"><a class="page-link" href="?page={{ search_results_comment.previous_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">&laquo;</a></li>
                                        {% else %}
                                        <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
                                        {% endif %} {% for i in search_results_comment.paginator.page_range %} {% if search_results_comment.number == i %}
                                        <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span>
                                        </li>
                                        {% else %}
                                        <li class="page-item"><a class="page-link" href="?page={{ i }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">{{ i }}</a></li>
                                        {% endif %} {% endfor %} {% if search_results_comment.has_next %}
                                        <li class="page-item"><a class="page-link" href="?page={{ search_results_comment.next_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">&raquo;</a></li>
                                        {% else %}
                                        <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
                                        {% endif %}
                                    </ul>
                                </nav>
                                {% endif %}
                            </div>
                            <!-- Search results comments pagination buttons (END)-->

                        </div>
                        <!-- Pill containing search results comments table (END) -->

                        <!-- Pill containing search results threads table (BEGINNING) -->
                        <div class="tab-pane fade" id="pills-threads" role="tabpanel" aria-labelledby="pills-threads-tab">

                            <!-- Search results threads table (BEGINNING) -->
                            <div class="row">
                                <div class="col-sm-12 table-responsive">
                                    <table class="table">
                                        <tbody class="thread-table">
                                            {% if thread_count > 0 %} {% for thread in search_results_thread %}
                                            <tr>
                                                <td class="text-left"><a class="text-decoration-none" href="{% url 'view_thread' thread.id %}">Thread #{{ thread.id}}: {{ thread.subject }}</a></td>
                                                <td class="text-center d-none d-md-table-cell"><i class="fa fa-comments" aria-hidden="true"></i> {{ thread.post_count }}</td>
                                                <td class="text-right"> {{ thread.date_created | timesince }} ago</td>
                                            </tr>
                                            {% endfor %} {% else %} No threads found for this query. {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- Search results threads table (END) -->

                            <!-- Search results threads pagination buttons (BEGINNING)-->
                            <div class="col-sm-12 d-flex justify-content-center">
                                {% if search_results_thread.has_other_pages %}
                                <nav aria-label="Table navigation">
                                    <ul class="pagination">
                                        {% if search_results_thread.has_previous %}
                                        <li class="page-item"><a class="page-link" href="?page={{ search_results_thread.previous_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">&laquo;</a></li>
                                        {% else %}
                                        <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
                                        {% endif %} {% for i in search_results_thread.paginator.page_range %} {% if search_results_thread.number == i %}
                                        <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span>
                                        </li>
                                        {% else %}
                                        <li class="page-item"><a class="page-link" href="?page={{ i }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">{{ i }}</a></li>
                                        {% endif %} {% endfor %} {% if search_results_thread.has_next %}
                                        <li class="page-item"><a class="page-link" href="?page={{ search_results_thread.next_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">&raquo;</a></li>
                                        {% else %}
                                        <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
                                        {% endif %}
                                    </ul>
                                </nav>
                                {% endif %}
                            </div>
                            <!-- Search results threads pagination buttons (END)-->

                        </div>
                        <!-- Pill containing search results threads table (END) -->

                        <!-- Pill containing search results posts table (BEGINNING) -->
                        <div class="tab-pane fade" id="pills-posts" role="tabpanel" aria-labelledby="pills-posts-tab">

                            <!-- Search results posts table (BEGINNING) -->
                            <div class="row">
                                <div class="col-sm-12 table-responsive">
                                    <table class="table">
                                        <tbody class="posts-table">
                                            {% if post_count > 0 %} {% for post in search_results_post %}
                                            <tr>
                                                <td class="text-left"><a class="text-decoration-none" href="{% url 'view_thread' post.thread.id %}#post{{post.id}}">Post #{{ post.id }}</a></td>
                                                <td class="text-center"><span>Re: thread #{{ post.thread.id }}</span><span class="d-none d-md-inline">: {{ post.thread.subject }}</span></td>
                                                <td class="text-right">{{ post.date_created | timesince }} ago</td>
                                            </tr>
                                            {% endfor %} {% else %} No posts found for this query. {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- Search results posts table (END) -->

                            <!-- Search results posts pagination buttons (BEGINNING)-->
                            <div class="col-sm-12 d-flex justify-content-center">
                                {% if search_results_post.has_other_pages %}
                                <nav aria-label="Table navigation">
                                    <ul class="pagination">
                                        {% if search_results_post.has_previous %}
                                        <li class="page-item"><a class="page-link" href="?page={{ search_results_post.previous_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">&laquo;</a></li>
                                        {% else %}
                                        <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
                                        {% endif %} {% for i in search_results_post.paginator.page_range %} {% if search_results_post.number == i %}
                                        <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span>
                                        </li>
                                        {% else %}
                                        <li class="page-item"><a class="page-link" href="?page={{ i }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">{{ i }}</a></li>
                                        {% endif %} {% endfor %} {% if search_results_post.has_next %}
                                        <li class="page-item"><a class="page-link" href="?page={{ search_results_post.next_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">&raquo;</a></li>
                                        {% else %}
                                        <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
                                        {% endif %}
                                    </ul>
                                </nav>
                                {% endif %}
                            </div>
                            <!-- Search results posts pagination buttons (END)-->
                        </div>
                        <!-- Pill containing search results posts table (END) -->
                    </div>

                </div>
            </div>
        </div>
    </section>

</section>
{% endblock %}
