/* CUSTOM SCSS */

/* Customized colors */

$color-blue: #2e3190;
$color-purple: #5854a5;
$color-light-purple: #bcb3bf;
$color-off-white: #fbfafa;
$color-red: #ee5140;
$color-pink: #e89e93;
$color-light-pink: #fcdcd7;
$color-yellow: #fcd731;
$color-grey: #cacaca;
$color-dark-grey: #5f6366;
$color-green: #63d37b;

/* Bootstrap classes colors adjusted */

$primary: $color-pink;
$danger: $color-red;
$warning: $color-yellow;
$success: $color-green;
$info: $color-purple;
$dark: $color-blue;
$light: $color-off-white;
$gray-900: $color-purple;

/* Navbar link color adjusted */

$navbar-light-color: rgba($dark, .5);
$navbar-light-hover-color: rgba($dark, .7);
$navbar-light-active-color: rgba($dark, .9);

/* BOOTSTRAP STYLES + BOOTSWATCH LUX THEME */

@import "../../node_modules/bootswatch/dist/lux/variables";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootswatch/dist/lux/bootswatch";

/* CUSTOM STYLES */

/* Light button colors changed */

.btn-light {
  color: $dark;
  border: solid 2px $light;
}

.btn-light:hover {
  color: $light;
  border: solid 2px $light;
  background-color: transparent;
}

/* BACKGROUND COLOR CLASSES */
/* Background color classes set */

.bgr-purple {
  background-color: $color-purple;
}

.bgr-light-purple {
  background-color: $color-light-purple;
}

.bgr-blue {
  background-color: $color-blue;
}

.bgr-pink {
  background-color: $color-pink;
}

.bgr-light-pink {
  background-color: $color-light-pink;
}

.bgr-off-white {
  background-color: $color-off-white;
}

.bgr-dark-grey {
  background-color: $color-dark-grey;
}

/* FLEXBOX */
/* Flexbox used to create a sticky footer and avoid empty space 
    if not much content e.g. sign in page form */

html,
body {
  margin: 0;
  height: 100%;
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navbar,
footer {
  flex: none;
}

main {
  flex: auto;
}

/* LOGO */

/* logo size adjusted */
.navbar-brand img {
  height: 50px;
}

/* SPINNER */
/* Spinner on data loading
spinner animation found on CodePen: https://codepen.io/judecodes/pen/PrBOvG?&page=1 */

.loader {
    z-index: 99;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-top: 2px solid $color-blue;
    border-bottom: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    animation: spin 3s linear infinite forwards;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.loader::before,
.loader::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    border-top: 2px solid $color-blue;
    border-bottom: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
}

.loader::before {
    top: 7px;
    left: 7px;
    width: 178px;
    height: 178px;
    border-top: 2px solid $color-pink;
    animation: spin 2s linear infinite forwards;
}

.loader::after {
    top: 16px;
    left: 16px;
    width: 160px;
    height: 160px;
    border-top: 2px solid $color-light-pink;
    animation: spin 1s linear infinite forwards;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

/* Overlay styled to dim the background for spinner */

#overlay {
    z-index: 98;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .5);
}

/* BACK TO TOP BUTTON */

/* Back to top button inspired by this Codepen solution: https://codepen.io/matthewcain/pen/ZepbeR */

#back-to-top-button {
    display: inline-block;
    background-color: transparent;
    color: $color-green;
    border: 2px solid $color-green;
    width: 80px;
    height: 80px;
    text-align: center;
    border-radius: 40px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    transition: background-color .3s,
    opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 97;
}

#back-to-top-button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 70px;
}

#back-to-top-button:active {
    background-color: $color-green;
    color: #ffffff;
    border: none;
}

#back-to-top-button.show {
    opacity: 1;
    visibility: visible;
}

/* Solution to sticky hover on mobile devices found here: https://medium.com/@ferie/detect-a-touch-device-with-only-css-9f8e30fa1134 */

@media (hover: hover) {

    #back-to-top-button:hover {
        cursor: pointer;
        background-color: $color-green;
        color: #ffffff;
        border: none;
    }

}

/* BACKGROUND IMAGES */

/* Background image for jumbotron section */

#jumbotron-section {
  background-image: url("/media/background_images/gradient_background_2.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Background image for all tickets heading section */

#tickets-heading-container {
  min-height: 350px;
  background-image: url("/media/background_images/tickets_background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* Forum & search page background photo with opacity */

#forum-heading-container {
  min-height: 350px;
  display: block;
  position: relative;
}

#forum-heading-container::after {
  content: "";
  background-image: url("/media/background_images/forum_discussion.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

#search-heading-container {
  min-height: 350px;
  display: block;
  position: relative;
}

#search-heading-container::after {
  content: "";
  background-image: url("/media/background_images/search.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

/* Register & login page background image */

#register-section, #login-section, #edit-profile-section {
  background-image: url("/media/background_images/gradient_background_large_4.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Add ticket form background photo */

#add-ticket-section {
  background-image: url("/media/background_images/tickets_background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#add-thread-section {
  background-image: url("/media/background_images/forum_discussion.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* SEPARATORS */

/* Add separator to filter section */

#filter-section, #forum-table-section {
  border-top: solid 10px $color-light-pink;
}

#thread-view-page, #view-ticket-page {
  border-top: solid 10px $color-pink;
}

#table-section, #forum-table-section, #add-ticket-section, #add-thread-section,
#thread-view-page, #view-ticket-page, #search-result-section, #search-heading-section {
  border-bottom: solid 10px $color-light-pink;
}

/* Jumbotron hr styling */

#jumbotron-section hr {
  border-top: 1px solid $color-purple;
}

/* Profile personal user info hr styling */

.profile-info-separator {
  border-top: 1px solid $primary;
}

/* All tickets page heading section separator */

#tickets-heading-container, #forum-heading-container , #add-ticket-section, 
#add-thread-section, #search-heading-section {
  border-top: 10px solid $color-purple;
}

/* FORMS */

/* Form width decreased */

#search, form.post-form textarea, .comment-form textarea {
  background-color: white;
}

form {
  width: 50%;
}

#add-ticket-section form, #register-section form,  #login-section form, #edit-profile-form ,
#add-thread-section form {
  background-color: white;
  width: 100%;
}

/* Disable textarea so user cannot resize it and increase width of form 
   containing the comment form */

textarea {
  width: 80%;
  resize: none;
}

/* Style comment forms on ticket view page / thread page */

form.comment-form,
textarea,
#payment-form,
.post-form,
#user-form {
  width: 100%;
}

.comment-form textarea {
  border: 1px solid #ced4da
}

/* PROFILE IMAGE */
/* Set max size of profile images */

.profile-image {
  max-width: 200px;
  max-height: 200px;
}

.nav-profile-image {
  width: 35px;
  height: 35px;
}

.card-image {
  width: 50px;
  height: 50px;
}

/* BUTTONS */
/* Increse size of add ticket to make it more prominent */

.btn-lg {
  font-size: 4rem;
}

/* Overwrite bootstrap class to place fixed 'add-ticket' button to the right */

.fixed-bottom {
  bottom: 110px;
  right: 20px;
  left: auto;
}

button.btn-rounded {
  height: 80px;
  width: 80px;
  border-radius: 100%;
  line-height: 50%;
}

/* Adjust height of search button so it is the same as the form input */

#search-btn {
  line-height: 21px;
}

/* Remove top border for the first row in the table */

.table tr:first-child td {
  border-top: none;
}

/* Styling for ticket summary list to create nice layout where text is aligned */

#ticket-summary-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#ticket-summary-list i {
  float: left;
}

#ticket-summary-list span {
  display: block;
  padding-left: 50px;
}

/* Remove default dropdown symbol for all tickets table actions */

.dropdown-toggle.actions::after {
  display: none;
}

/* Remove border for the accordion cards */

#accordion .card {
  border: none;
}

/* Overwrite bootstrap select button color so it matches the form */

.bootstrap-select>button {
  background-color: #f7f7f9
}

/* Increase font-size for like/dislike counter */

span.vote-counter {
  font-size: 15px;
}

/* Homepage jumbotron background color */

.jumbotron {
  background: none;
}

/* Hr divider styling - homepage about unicorn attractor section */

.hr-divider {
  margin-right: 65% !important;
}

/* Set size of the apple/google store badges */

.badge img {
  height: 50px;
  border-radius: 7px;
}

.badge a {
  cursor: pointer;
}

/* About app section images set width so they don't go outside column */

#about-app-section img {
  width: 100%;
}

/* Switch off border for nav button and increase size of the button */

.navbar-toggler-icon {
    width: 2em;
    height: 2em;
}

.navbar-light .navbar-toggler {
    border: none;
}

@media only screen and (max-width: 600px) {

  form {
    width: 80%;
  }
  textarea {
    width: 100%;
  }

  .display-4 {
    font-size: 2.5rem;
  }

}
